{{#globals sortBy=(option "sort-by") ~}}
<dt>{{#if deprecated}}~~{{/if}}<a href="#{{{anchorName}}}">{{>index-name2}}</a>{{>return-sig-dl}}{{>name-suffix~}}{{#if deprecated}}~~{{/if}}</dt>
{{/globals~}}
